@tailwind base;
@tailwind components;
@tailwind utilities;

/* 
#form-box{
}

#form-box::scrollbar {
  width: 12px;
}

#form-box::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
  border-radius: 10px;
}

#form-box::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}
​ */

.center-inline{
    margin-right: 50%;
    transform: translateX(50%);
  }
  
  
  .centerx-absolute{
    right: 50%;
    transform: translateX(50%);
  }
  
  .center-absolute{
    top: 50%;
    right: 50%;
    transform: translate(50%, -50%);
  }
  

  main > * {
    z-index: 1;
  }
  
 
  
  main::after {
    content: '';
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60vh;
  }
  
#site-header::after{
  content: '';
  position: absolute;
  @apply w-[0%] h-[1px] bg-gray-50 rounded absolute;
  bottom: -1rem;
  right: 50%;
  transform: translateX(50%);
  animation: widen 1s forwards;
  }

  #site-name {
    color: #e2f2ff;
    white-space: nowrap;
  }
  
  #subhead {
    -webkit-animation: enlarge 2s forwards;
            animation: enlarge 2s forwards;
    -webkit-transform: scale(0.7);
            transform: scale(0.7);
  }
  
  .homesmart-logo {
    -webkit-filter: contrast(1.3);
            filter: contrast(1.3);
  }
  

  @keyframes widen {
    100%{
      width: 50%;
    }
  }
  
  @-webkit-keyframes underline {
    100% {
      width: 60%;
    }
  }
  
  @keyframes underline {
    100% {
      width: 60%;
    }
  }
  
  @-webkit-keyframes enlarge {
    100% {
      -webkit-transform: scale(1);
              transform: scale(1);
    }
  }
  
  @keyframes enlarge {
    100% {
      -webkit-transform: scale(1);
              transform: scale(1);
    }
  }
  
  @-webkit-keyframes slide-up {
    100% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
      opacity: 1;
    }
  }
  
  @keyframes slide-up {
    100% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
      opacity: 1;
    }
  }